@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
/* color */
.bg-primary {
    background: #A1c3D1;
}

.bg-secondary {
    background: #A1c3D1;
}

.bg-accent {
    background: #ff74c5;
}

.hover\:pink:hover {
    background: #B39Bc8;
}

.text-accent {
    color: #ff74c5;
} 

.mobile-nav {
    @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
} 

.light\:nav-name {
    background: #ff74c5;
}

.light\:bg-primary {
    background: #ebdaf9;
}

.light\:bg-secondary {
    background: #f172a1;
}

.light\:bg-accent {
    background: #a1c3d1;
}

.light\:hover\:pink:hover {
    background: #B39Bc8;
}

.light\:text-default {
    background: #f0ebf4;
}

.light\:text-accent {
    background: #ff74c5;
}

.dark\:bg-primary {
    background: #1560d9;
}